@import "../core/variables.scss";

.footer {
  height: 15vh;
  display: flex;
  align-items: center;
  // justify-content: space-evenly;
  justify-content: center;
  padding: 10px 0 5px 0;
  @media all and (max-width: 320px) {
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    background-color: $bg_color;
    opacity: 0.9;
    width: 100%;
  }
  &_links_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3px;
  }
  &_link {
    margin: 0 10px 0 10px;
    color: $links_color;
    &:hover {
      color: $accents_color;
    }
  }
  &_small {
    font-family: monospace;
  }
  &_credit_container {
    height: 60%;
    margin-left: 20px;
    .footer_credit_link {
      height: 100%;
      display: inline-block;
      @media all and (max-width: 320px) {
        height: 50%;
        margin-top: 10px;
      }
      .footer_credit_img {
        height: 100%;
      }
    }
  }
}
