.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  .media {
    &_list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      &_item {
        width: 16%;
        margin: 10px;
        border-radius: 7px;
        background-color: #1e1d1d;
        box-shadow: 0 0 6px 2px white;
        &:hover {
          box-shadow: 0 0 6px 6px rgb(255, 0, 0);
        }
        &_content {
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: inherit;
        }
      }
    }
    &_img {
      width: 100%;
      border-radius: inherit;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    &_title {
      margin-top: 5px;
      color: #ffffff;
      font-family: Arial, Helvetica, sans-serif;
    }
    &_genres {
      margin-top: 5px;
      color: #ffffff;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.9rem;
    }
    &_info {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
  }
}
