.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  .media_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &_item {
      width: 16%;
      margin: 20px;
    }
    .media_img {
      width: 100%;
    }
  }
}
